Homework02

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
entero=3
print(entero)

3

2) Imprimir el tipo de dato de la constante 8.5

In [6]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
type(entero)

int

4) Crear una variable que contenga tu nombre

In [8]:
myname="Irene"

5) Crear una variable que contenga un número complejo

In [9]:
complejo=1+3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
var2="True"
var3=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [13]:
type(var2)
type(var3)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
var4=10
var5=0.2

var6=var4+var5
print(var6)

10.2

 11) Realizar una operación de suma de números complejos

In [15]:
var7=10+5j
var8=5+5j
print(var7+var8)

(15+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [16]:
print(10+10+20j)

(20+20j)

13) Realizar una operación de multiplicación

In [17]:
print(5*5)

25

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
var9=27/4
print(var9)

6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
var10=27//4
print(var10)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [21]:
var11=27%4
print(var11)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [22]:
var10*4+var11

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [23]:
var1="soy "
var2="Irene"

print(var1+var2)

soy Irene

#20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [24]:
 2=="2"

False

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
a = float('3,8')

porque no reconoce la coma como decimal

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [25]:
var12=3
var12-=1
print(var12)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [32]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos ser

#los 2 operandos deben ser del mismo tipo
 # si son integrales
 print(2+2)
 # si son caracter
 print("2"+"2")

#26) Realizar una operación válida entre valores de tipo entero y string

In [27]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces